h1 {
  margin-bottom: 30px;
}
#textInput {
  width: 200px;
  float: left;
}
.narrow-button {
  float: left;
  margin-left: 10px;
}

.itemName {
	background-color: red;
}

.itemShortName {
	background-color: green;
}

.itemDesc {
	background-color: blue;
}